$blue-500: #337ab7;
$blue: $blue-500;

$text-blue: $blue-500;
$text-gray-light: $gray-400;
$text-gray: $gray-500;

$font-weight-bold: 500;
$font-weight-semibold: 400;
$font-weight-normal: 300;
$font-weight-light: 200;

$mono-font: Menlo, Monaco, 'Courier New', monospace;

$body-font-size: 16px;
$body-font-weight: $font-weight-normal;
